body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 10px;
    background-color: #EFBC9B;
}

.bio-container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.profile-img {
    width: 100%; /* Make image responsive within its container */
    max-width: 300px; /* Limit image width to 300px */
    height: auto;
    border-radius: 10px;
   
}

.column {
    font-size: 5mm;
    padding: 5px;
}

.contact-info p {
    font-size: 5mm;
    color: #5F374B;
}

.contact-info strong {
    color: #5F374B;
}

.interests, .hobbies {
    background-color: #EFBC9B;
    padding: 10px;
    border-radius: 10px;
    font-size: 5mm;
}

.interests h3, .hobbies h3 {
    color: #5F374B;
}
